* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: #081b29;
    color: #ededed;
}

canvas {
    background: #081b29;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    margin-left: 10px;
    color: #ededed;
    text-decoration: none;
    font-weight: 100;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

.home .home-content a {
    color: #ededed;
}

.home {
    height: 280vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 20px;
}

.home-content h1 {
    font-size: 40px;
    font-weight: 700;
}

.home-content .btn-box {
    width: 145px;
    height: 50px;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 96%;
    background: purple;
    border-radius: 8px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}